#intro { 
	background: url(/img/intro.png) 50% 0 fixed; 
	height: 200px;  
	margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 100px 0;
}

#home { 
	background: url(/img/home.jpg) 50% 0 fixed; 
	height: 200px;  
	margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 200px 0;
}

#about { 
	background: url(/img/about.png) 50% 0 fixed; 
	height: 200px;  
	margin: 0 auto; 
    width: 100%; 
    position: relative; 
    padding: 100px 0;
    color: #fff;
}