---
title: home.ai
---






	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			Navigation Bar
			<span class="caret"></span>

		</div>
	</nav>




	<div class="container" style="margin-top:35px;">

		<div class="jumbotron col-md-12">
		  <h1>Hello, world!</h1>
		  <p>...</p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>

	</div> <!-- /container -->





	<!-- Section #1 -->
	<section id="intro" data-speed="6" data-type="background">
		<div class="container">

	    </div>
	</section>





	<div class="container" style="margin-top:35px;">

		<div class="jumbotron col-md-12">
		  <h1>Hello, world!</h1>
		  <p>...</p>
		  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>

	</div> <!-- /container -->





	<!-- Section #2 -->
	<section id="home" data-speed="4" data-type="background">
		<div class="container">

	    </div>
	</section>




	<!-- Section #3 -->
	<section id="about" data-speed="2" data-type="background">
		<div class="container">

	    </div>
	</section>

	